@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700);
@import url(https://fonts.googleapis.com/css?family=Lobster);

body {
  background: #6FA397;
  background: -webkit-radial-gradient(#6FA397, #4d7269);
  background: -moz-radial-gradient(#6FA397, #4d7269);
  background: -o-radial-gradient(#6FA397, #4d7269);
  background: radial-gradient(closest-side, #6FA397, #4d7269);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align:center;
  text-rendering: optimizeLegibility;
}

div.table-title {
  display: block;
  margin: auto;
  max-width: 40rem;
  max-height: 4.5rem;
  padding:5px;
  width: 100%;
}

table {
    margin-left:auto;
    margin-right:auto;
}

.table-title h3 {
   color: #a35151;
   font-size: 2rem;
   font-weight: 500;
   font-style:normal;
   font-family: "Lobster";
   background: #fbfbfb;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}

.banner {
  display: block;
  margin: auto;
  max-width: 40rem;
  padding:5px;
  width: 100%;
  font-family: "Lobster";
  font-size: 5rem;
  font-weight: 500;
  color: #a35151;
  z-index: 1;
  background: #fbfbfb;
  text-align: center;
}

.subbanner {
  display: block;
  margin: auto;
  max-width: 40rem;
  padding:5px;
  width: 100%;
  font-family: "Lobster";
  font-size: 1.5rem;
  font-weight: 900;
  color: #a35151;
  z-index: 1;
  background: #fbfbfb;
  text-align: center;
}

.body {
  display: block;
  margin: auto;
  max-width: 40rem;
  padding:5px;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  color: #a35151;
  z-index: 1;
  background: #fbfbfb;
  text-align: center;
}

.subbody {
  display: block;
  margin: auto;
  max-width: 40rem;
  padding:5px;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  color: #a35151;
  background: #fbfbfb;
  z-index: 1;
  margin: 0 auto 0;
  text-align: center;
}

.subbody a {
  color: #6FA397;
}

th {
  color: #a35151;
  background: #fbfbfb;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:1.5rem;
  font-weight: 500;
  padding:24px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
  text-align: center;
}

th:first-child {
  border-top-left-radius:3px;
}

th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}

tr {
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  color: #a35151;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
  background: #6FA397;
  color: #fbfbfb;
  border-top: 1px solid #22262e;
}

tr:hover td a {
  color: #fbfbfb;
}

tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}

tr:nth-child(even) td {
  background:#e1e1e1;
}

tr:nth-child(even):hover td {
  background:#639287;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}

tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}

td {
  background: #fbfbfb;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td a {
  color: #6FA397;
}

td:hover a {
  color: #fbfbfb;
}

td:last-child {
  border-right: 0px;
}
